/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ALL */

/* common-rules */
html{
  /* background: url(../img/mur.jpg); */
  background-color:#F7C9ED
}  


/* END OF ALL */

/* VINCENT : */
/* element caché!!! */
.header-right {
  display: none;
}


/* Page Index */
header {
  margin-top: 1em;
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 5px;
  color: #363535;
}


.header-right {
  margin-top: -3.5%;
  float: right;
}


.header-right a {
  padding: 15px;
  text-decoration: none;
  border-radius: 5px;
}

.header-right a:hover { 
  background-color: grey;
  color: white;
}

/* _______ SLIDER _______ */

.slider{
  margin-top: 1em;
}  

/* ________ END OF SLIDER ________ */
<<<<<<< HEAD
/* ______NOS PRODUIT FAVORIS_______ */
.nos-produits-favoris{
  
}  

.nos-produits-favoris h1 p{
 color: white; 
}  

.les-pates {
  width: 450px;
  height: 100%;
  background-color: blue;
  display: flex;
  flex-direction: column;
}


/* ____END NOS PRODUIT FAVORIS_____ */
=======

>>>>>>> 98cd8563eefce672a8c93b9dd2e592d28f4a4920
/* _______ footer _______ */
footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.footer-left ul{
  list-style: none;
  float: left;
}

.footer-right {
  float: right;
}

.footer-right img{
 max-width: 10%;
 max-height: 10%; 
}
/* _______ end footer _______ */

/* END OF VINCENT */

/* AARON */

/* QUI SOMME NOUS */
.concept {
  width: 100%;
}

.concept h1 {
  font-size: 30px;
  font-family: 'Crafty Girls', cursive;
  color: #E7399C;
  width: 50%;
  height: 80px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  border-width: 3px;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
}

.concept article {
  width: 90%;
  height: 45%;
  border-width: 5px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  color: #FFF;
  margin: auto;
  margin-top: 20px;
  background: url(../img/ardoise.jpg);
}

.concept h2 {
  color: #E7399C;
  text-align: center;
}

.concept p {
  margin: 25px;
}
/* END OF QUI SOMME NOUS */

/* CONTACT */



/* END OF AARON */


/* MEDIA QUERY */
@media (min-width:768px) {
  /* VINCENT */

  

/* element caché!! */
.header-right{
  display: none;
}

/* element affiché!! */
.smartphone{
  display: block;
}
  /* END OF VINCENT */

  /* AARON */



  /* END OF AARON */
}  

}
@media (min-width:980px) {
  /* VINCENT */




/* element caché!! */
.smartphone{
  display: none;
} 

/* element affiché!! */
.header-right{
  display: block;
}


  /* END OF VINCENT */

  /* AARON */



  /* END OF AARON */
}

@media (min-width:1280px) {
  /* VINCENT */



/* element caché!! */
.smartphone{
  display: none;
}  

/* element affiché!! */
.header-right{
  display: block;
}



/* _______ footer _______ */


.footer-right img{
 max-width: 40px;
 max-height: 40px; 
}
  /* END OF VINCENT */

  /* AARON */



  /* END OF AARON */
}
 
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
